{% extends "baseplate/layout.html" %}
{% block header_title %}User Submitted Tickets{% endblock %}
{% block body %}
<div class="content">
  <div class="container_12 ">
    <div class="grid_12">
      {%- include 'baseplate/blocks/flashed.html' -%}
      <h3><a href="{{ url_for('TicketsView:admin') }}">User Submitted Tickets</a></h3>
      <ul class=results>
        {% for result in results %}
        <li><em><a href="{{ url_for('TicketsView:get', uuid=result.id) }}">{{ result.meta['updated_at']|safe }}</a> </em> <br>
        Name: {{ result.meta['name']|safe }}<br>
        Email: {{ result.meta['email']|safe }}<br>
        Phone: {{ result.meta['phone']|safe }}<br>
        Message: {{ result.message|safe }}<br>
        <br>
      {% else %}
        <li><em>No Tickets here so far...</em>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}