{% extends "baseplate/layout.html" %}
{% block header_title %}User Submitted Tickets{% endblock %}
{% block body %}
<div class="content">
  <div class="container_12 ">
    <div class="grid_12">
      {%- include 'baseplate/blocks/flashed.html' -%}
      <h3><a href="{{ url_for('TicketsView:admin') }}">User Submitted Tickets</a></h3>
      <ul class=results>
        <li><em><a href="{{ url_for('TicketsView:get', uuid=results.id) }}">{{ results.meta['updated_at']|safe }}</a> </em> <br>
        Source: {{ results.meta['source']|safe }}<br>
        Name: {{ results.meta['name']|safe }}<br>
        Email: <a href="mailto:{{ results.meta['email']|safe }}">{{ results.meta['email']|safe }}</a><br>
        Phone: {{ results.meta['phone']|safe }}<br>
        Message:<br>{{ results.message|safe }}<br>
      </ul>
    </div>
  </div>   
</div>

{% endblock %}