Click==7.0
Flask==1.0.2
Flask-Classful==0.14.1
Flask-Defer==1.1.0
Flask-Login==0.4.1
Flask-UUID==0.2
Flask-WTF==0.14.2
Jinja2==2.10
MarkupSafe==1.1.0
WTForms==2.2.1
Werkzeug==0.14.1
argparse==1.2.1
bleach==3.1.1
certifi==2018.11.29
chardet==3.0.4
commandr==1.5.0
html5lib==1.0.1
idna==2.8
itsdangerous==1.1.0
pyotp==2.2.7
requests==2.21.0
rethinkdb==2.3.0.post6
scrypt==0.8.6
sh==1.12.14
six==1.12.0
stripe==2.16.0
urllib3==1.24.1
webencodings==0.5.1
wsgiref==0.1.2
yubico-client==1.10.0
