	  <h3>contact us</h3>
			<form id="form" action="{{ url_for('TicketsView:do_ticket') }}" method=post>
					{{ form.hidden_tag() }}

					{% for error in form.name.errors %}
						<br><strong class="alert alert-error">{{ error }}</strong><br>
					{% endfor %}
					<label class="name">
						{{ form.name(placeholder='Name') }}
					</label>

					{% for error in form.email.errors %}
						<br><strong class="alert alert-error">{{ error }}</strong><br>
					{% endfor %}					
					<label class="email">
						{{ form.email(placeholder='Email Address') }}
					</label>

					{% for error in form.phone.errors %}
						<br><strong class="alert alert-error">{{ error }}</strong><br>
					{% endfor %}
					<label class="phone">
						{{ form.phone(placeholder='Phone Number') }}
					</label>

					{% for error in form.message.errors %}
						<br><strong class="alert alert-error">{{ error }}</strong><br>
					{% endfor %}
					<label class="message">
						{{ form.message(placeholder='Your Message') }}
					</label>

					<div>
						<div class="clear"></div>
						<br>

						{% for error in form.recaptcha.errors %}
							<br><strong class="alert alert-error">{{ error }}</strong><br>
						{% endfor %}
						{{ form.recaptcha }}

						<div class="btns">
							<a href="#" onclick="$(this).closest('form').submit()" data-type="submit" class="btn">send us a message</a><br>
							<div class="copy">
								<a href="{{ url_for('BaseView:privacy') }}">Our Privacy Policies</a>
							</div>
						</div>
					</div>
			</form> 
